.containerInfo__title {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 15px 8px 4px rgb(38, 138, 155);
  text-transform: uppercase;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}


.containerInfo__author {

  width: 230px;
  height: 160px;
  background-image: url("/images/planet.png");
  color: white;
  font-size: 8px;
  font-family: 'Orbitron', sans-serif;
  background-size: cover;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-end;
  justify-content: center;

}
h4{
  padding: 0px 0px 0px 5px;
}

.containerInfo__phrase {
  padding: 5px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 10px;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: linear-gradient(180deg, #ffffff 0%, rgba(94, 204, 186, 0.413) 100%);
  color: var(--blue);
  border-radius: 25px;
  height: 90px;
  max-width: 270px;
}

@media (min-width: 768px) {

  .containerInfo__title {
    font-size: 35px;
  }
  
  
  .containerInfo__author {
  
    width: 300px;
    height: 230px;
    font-size: 11px;  
  }
  
  .containerInfo__phrase {
    padding: 10px;
    font-size: 15px;
    height: 150px;
    max-width: 325px;
  }
  
}
